<h3>Current Watch Party Shows</h3>

<table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Network</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shows.each do |s| %>
        <tr>
          <th><%= s.title %></th>
          <th><%= s.network %></th>
          <th class="button-container">
            <%= button_to('Edit', "/admins/show/#{s.id}/edit", class: 'btn btn-xs btn-default', method: :get) %>
            <% if s.active %>
              <%= button_to('Deactivate', "/admins/show/#{s.id}/deactivate", class: 'btn btn-xs btn-danger', method: :patch) %>
            <% else %>
              <%= button_to('Activate', "/admins/show/#{s.id}/activate", class: 'btn btn-xs btn-info', method: :patch) %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
